/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  font-family: "ff-tisa-web-pro",serif;
  font-style: normal;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  margin-left: 4rem; 
  text-align: center;
  font-size: 100%; 
  font-family: "chaparral-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.14em;
}

h1 { 
  margin-bottom: 1em; 
}
h2 { 
  margin-bottom: 1.2em; 
  font-size: 2.5rem;
}
p { 
  margin-left: 8rem; 
  font-size: 1.2rem;
  text-align: left;
  line-height: 1.5em;
  margin-bottom: 0.8rem; 
  width: 36.5rem; 
  font-family: "ff-tisa-web-pro",serif;
  font-style: normal;
  font-weight: 400;
}

a {
  -moz-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-decoration: none;
  color: inherit;

  }

a:hover {
  background: #fbf3f3;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;

  border-radius: 8px;
}

.post a:after {
  content: "\FEFF »";
  margin-left: 0.10em;
  font-size: 90%;
  top: -0.10em;
  color: #933;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  margin-left: 8rem; 
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: left;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
  margin-top: 4em;
}

.header {
  text-align: center;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 17em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  /*
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  */
  margin-top: 1.7em;
  margin-bottom: 1.7em;
}

.post ul, .post ol {
  margin-left: 11em;
  margin-bottom: 0.8rem; 
  width: 45rem; 
}

/* inline code blocks */
.post code {
  /*border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;*/
  font-size: 1.26rem;
  line-height: 1.5rem;
  font-family: "anonymous-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
}

/* code blocks */
.post pre code {
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* terminal */
.post pre.terminal {
  /*border: 1px solid #000;
  background-color: #333;
  color: #FFF;*/
}

.post pre.terminal code {
  /*background-color: #333;*/
}

.post h2, .post h1 {
  margin-top: 0.8em; 
  margin-bottom: 0.3em; 
}

.highlight {
  margin-left: 8rem; 
  margin-bottom: 0.8rem; 
}
